// Colors
$nnc-dark-green: #336027;
$nnc-light-green: #9BC995;
$nnc-light-green-border: #8AB884;
$nnc-neon-green: #CBEAA6;
$nnc-yellow-beige: #F3F9D2;
$nnc-grey-green: #98B9AB;
$nnc-aqua-green: #BAFFCC;
