.todo {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background-color: $nnc-aqua-green;
  }
}

.todo__subtext {
  color: #999;
}

.todo-completed {
  p, .todo__subtext {
    color: $nnc-neon-green;
    text-decoration: line-through;
  }
}
